root {
    --primary-color: #F59E0B;
}

.navigation {
    background-color: var(--primary-color);
    margin: 1rem;
    padding: 1rem;
    max-width: 700px;
    text-align: center;
}

.container{
    text-align:center;
}

#txtarea {
    display: block;
    margin: 1rem;
    padding: 1rem;
    width: 40%      
}

#outputtext {
    display: block;
    margin: 1rem;
    padding: 1rem;
    width: 50%
}

.footer-style{
    background-color: var(--primary-color);
    margin: 1rem;
    padding: 1rem;
    text-align: center;
    max-width: 700px;
}