@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

:root {
    --primary-color: #F2C94C;
}

body {
    background-image: url("/images/banana_app.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Caveat', cursive;
}

nav{
    margin-top: 0px;
}

.navigation {
    background-color: var(--primary-color);
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    max-width: 700px;
    text-align: center;
    font-size: x-large;
}

.container{
    text-align:center;
    padding: 0.25rem;
    margin-bottom: 0rem;
}

.displayerror {
    padding: 0.5rem;
    font-family: 'Caveat', cursive;
    font-size:1.5rem;
    font-weight:bold;
    color:red;
}

#txtarea {
    display: block;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    width: 40%;
    min-height: 15vh;
    overflow: scroll;
    font-size: xx-large;
    font-family: 'Caveat', cursive;
}
.outputword {
    margin-top: 1rem;
    margin: auto;
    text-align: center;
    color: white;
    padding: 0.2rem;    
}

#outputtext {
    display: block;
    margin-top: 0.2rem;
    margin-bottom: 1.5rem;
    margin-left: auto;
    margin-right: auto;
    padding: 0.2rem;
    width: 40%;
    min-height: 15vh;
    overflow: scroll;
    font-size: xx-large;
    font-family: 'Caveat', cursive;
}

#btntranslate {
    width: 250px;
    height: 50px;
    box-shadow: 1px;
    background-color: var(--primary-color);
    font-family: 'Caveat', cursive;
    cursor: pointer;
    font-size:x-large;
}

.footer-style {
    background-color: var(--primary-color);
    display: block;
    padding: 0.75rem;
    text-align: center;
    max-width: 700px;
    font-size:large;    
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5rem;
    bottom: 0;
}

footer {
    margin-bottom: 0px;
}