root {
    --primary-color: #FCD34D;
}

.container{
    text-align:center;
}

.navigation{
    margin: auto;
    padding: 1rem;
    max-width: 700px;
    background-color: var(--primary-color);
}

#txtarea {
    display: block;
    margin: 1rem;
    padding: 1rem;
    width: 40%      
}

#outputtext {
    display: block;
    margin: 1rem;
    padding: 1rem;
    width: 50%
}